
-if current_admin
  %h1 Set us up the booth
  .button= link_to('view all contacts', { controller: 'contacts', action: 'index' })
  .button= link_to('start new game', { controller: 'games', action: 'new' })
  = render 'devise/links'
-else
  %h1 Welcome to NIRDgossip!
  .button= link_to('join the game', { controller: 'contacts', action: 'new' })
