---
http_interactions:
- request:
    method: post
    uri:
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 14 Jan 2016 16:52:48 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - af235b585e7c13ab73f078071341621a
      X-Response-Time:
      - '24'
      X-Transaction:
      - c3149f8db671c4ea
      X-Tsa-Request-Body-Time:
      - '71'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPemjgAAAAAAGF80arRKZBCUyLQn6co1Ye5KOyY%3DiStHvvbhr8sb789M4GRE5HK061tSkgafqqM5mWHaZpDrKsDs76"}'
  recorded_at: Thu, 14 Jan 2016 16:52:48 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=@beyonce%20%23lipsyncbattle%20-rt&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPemjgAAAAAAGF80arRKZBCUyLQn6co1Ye5KOyY%3DiStHvvbhr8sb789M4GRE5HK061tSkgafqqM5mWHaZpDrKsDs76
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 14 Jan 2016 16:52:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f97223f1905fde99fa07689aeaeec81f
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1452790587'
      X-Response-Time:
      - '300'
      X-Transaction:
      - 70ed8c43d58a37b1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Jan 14 08:23:02 +0000 2016","id":687550475789438976,"id_str":"687550475789438976","text":"#lipsyncBattle
        @channingtatum &amp; @jennaldewan were Xcellent w\/ @Beyonce &amp; @PaulaAbdul
        such an entertaining show @chrissyteigen Hugs Happy 4U!","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19383912,"id_str":"19383912","name":"PeggySHatfield","screen_name":"PSCoach","location":"\u00dcT:
        34.275925,-118.776454","description":"Mother of 4 family Caregiver, Dog Lover,
        Animal Protector, Energy Saver, Support Renewable Resources, Save Our Planet,
        Love Life with ADD, Movies & Motorcycles","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2206,"friends_count":2649,"listed_count":16,"created_at":"Fri
        Jan 23 06:11:44 +0000 2009","favourites_count":337,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":6472,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1264002928\/new_4043_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1264002928\/new_4043_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19383912\/1447808761","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"lipsyncBattle","indices":[0,14]}],"symbols":[],"user_mentions":[{"screen_name":"channingtatum","name":"Channing
        Tatum","id":6427882,"id_str":"6427882","indices":[15,29]},{"screen_name":"jennaldewan","name":"Jenna
        Dewan Tatum","id":58466292,"id_str":"58466292","indices":[36,48]},{"screen_name":"Beyonce","name":"Beyonc\u00e9
        Knowles","id":31239408,"id_str":"31239408","indices":[66,74]},{"screen_name":"PaulaAbdul","name":"Paula
        Abdul","id":27750488,"id_str":"27750488","indices":[81,92]},{"screen_name":"chrissyteigen","name":"christine
        teigen","id":39364684,"id_str":"39364684","indices":[119,133]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Jan 14 01:10:00 +0000 2016","id":687441500884570113,"id_str":"687441500884570113","text":"Midweek
        inspiration: Don''t be afraid to unleash your inner @Beyonce! Seen here @channingtatum
        #LipSyncBattle https:\/\/t.co\/9ZfmHAeJmd","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2448204049,"id_str":"2448204049","name":"TheLadyLovesCouture","screen_name":"MHCoutureClique","location":"","description":"Living
        Lavishly on Any Budget","url":"http:\/\/t.co\/BO94cLZJFv","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/BO94cLZJFv","expanded_url":"http:\/\/www.theladylovescouture.com","display_url":"theladylovescouture.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":7275,"friends_count":98,"listed_count":33,"created_at":"Wed
        Apr 16 22:47:57 +0000 2014","favourites_count":186,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":5510,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twim[...]
