---
http_interactions:
- request:
    method: post
    uri:
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 14 Jan 2016 16:54:27 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 9b18d4d52b93a7abd625adf0daf3e732
      X-Response-Time:
      - '23'
      X-Transaction:
      - 3059cfbf88626e59
      X-Tsa-Request-Body-Time:
      - '80'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAPemjgAAAAAAGF80arRKZBCUyLQn6co1Ye5KOyY%3DiStHvvbhr8sb789M4GRE5HK061tSkgafqqM5mWHaZpDrKsDs76"}'
  recorded_at: Thu, 14 Jan 2016 16:54:27 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=@channingtatum%20%23lipsyncbattle%20-rt&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAPemjgAAAAAAGF80arRKZBCUyLQn6co1Ye5KOyY%3DiStHvvbhr8sb789M4GRE5HK061tSkgafqqM5mWHaZpDrKsDs76
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 14 Jan 2016 16:54:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 94872d77d6f637992cd8ae7c6d017b07
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '447'
      X-Rate-Limit-Reset:
      - '1452790587'
      X-Response-Time:
      - '434'
      X-Transaction:
      - b8fcd84456587fea
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Jan 14 16:32:33 +0000 2016","id":687673668487495681,"id_str":"687673668487495681","text":"the
        #LipSyncBattle between @channingtatum and @jennaldewan IS THE BEST THING EVER.
        ENOUGH SAID.","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":494280106,"id_str":"494280106","name":"Secret
        rendezvous.\u2661","screen_name":"ItsJustNorah","location":"where there''s
        bands & tv shows","description":"you''re still going to get criticized, so
        you might as well do whatever the fuck you want","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":27382,"friends_count":23566,"listed_count":32,"created_at":"Thu
        Feb 16 18:37:04 +0000 2012","favourites_count":3512,"utc_offset":7200,"time_zone":"Athens","geo_enabled":false,"verified":false,"statuses_count":50295,"lang":"sv","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/471950526930632704\/iWPD0cG4.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/471950526930632704\/iWPD0cG4.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/674149493097504768\/pd69u_k3_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/674149493097504768\/pd69u_k3_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/494280106\/1446205220","profile_link_color":"9266CC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[{"text":"LipSyncBattle","indices":[4,18]}],"symbols":[],"user_mentions":[{"screen_name":"channingtatum","name":"Channing
        Tatum","id":6427882,"id_str":"6427882","indices":[27,41]},{"screen_name":"jennaldewan","name":"Jenna
        Dewan Tatum","id":58466292,"id_str":"58466292","indices":[46,58]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Jan 14 14:46:59 +0000 2016","id":687647101925199876,"id_str":"687647101925199876","text":"This
        is for all my #ladies who love @channingtatum You MUST watch this! https:\/\/t.co\/jUpNOEzNI2
        #LipSyncBattle #frozen","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":321594758,"id_str":"321594758","name":"Kim
        Q","screen_name":"KimmieQ10","location":"Edmonton","description":"Marketing,
        Social Media, Hockey & Shoes. Helping #local businesses ''Get Socialized''
        via @YEGTweetup #ShopLocal #yeg #yegbiz","url":"http:\/\/t.co\/5WWXxwJRMG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5WWXxwJRMG","expanded_url":"http:\/\/www.yegtweetup.ca","display_url":"yegtweetup.ca","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":4288,"friends_count":1979,"listed_count":149,"created_at":"Tue
        Jun 21 20:37:45 +0000 2011","favourites_count":4861,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":33010,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"D22323","profile_background[...]
