-if current_admin
  %h1 Contacts
  %table
    %tr
      %th Name
      %th Email Address
      %th Twitter Handle
    - @contacts.each do |c|
      %tr
        %td= c.name
        %td= c.email
        %td= c.twitter_handle
