.row.main
  %header.col-xs-12
    -if @winner
      %h1 The winner is:
      %p= "#{@winner.name} (#{@winner.twitter_handle})"
    -else
      %h1 Oops!
      %p Either everyone's already won something, or you didn't have anyone enter the contest!
    .row
  = link_to(game_path(@game)) do
    .btn.btn-primary.col-xs-12 current game
