default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: booth_dev

test:
  <<: *default
  database: booth_test
  password:

production:
  <<: *default
  database: booth_prod
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>