= link_to_if(!current_admin, 'sign in', { controller: 'devise/sessions', action: 'new' }) do
  = link_to({ controller: 'devise/sessions', action: 'destroy' }, { method: 'delete' }) do
    .btn.btn-primary log out
