!!! 5
%html
  %head
  %title BoothGame
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    .container
      .row
        -unless flash.empty?
          .col-xs-12.gutter
          .messages.col-xs-12.col-sm-8.col-sm-offset-2
            -flash.each do |name, msg|
              = content_tag :div, msg, class: name, id:"headerbar"
          .col-xs-12.gutter
        .col-xs-12.col-sm-8.col-sm-offset-2
          =yield
        .col-xs-12.gutter