!!! 5
%html
  %head
  %title BoothGame
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    .contianer
      .row
        -unless flash.empty?
          .col-xs-12.gutter
          .side-bar.col-sm-2
          .messages.col-xs-8
            -flash.each do |name, msg|
              = content_tag :div, msg, class: name, id:"headerbar"
          .side-bar.col-sm-2
          .col-xs-12.gutter
        .side-bar.col-sm-2
        .col-xs-12.col-sm-8
          =yield
        .side-bar.col-sm-2